@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --default-font-family: "Poppins", sans-serif;
  --color-pri: #00adef;
}

body{ 
  background-color: #f6f6f6;
}

.offscreen {
  @apply absolute -left-[100000000px]
}

.input-field {
  @apply border border-[#d0d0d0] bg-[#f6f6f6] w-full rounded-xl text-sm p-2.5 inset-shadow-2xs focus:ring-0 focus:outline-0 placeholder:text-[#bbbbbb]
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

@media(max-height: 720px) {
  .main-image {
    width: 180px
  }
}

@media(max-height: 560px) {
  .main-image {
    width: 140px
  }
}